/*Estilos para index*/
.headerInicio {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  img {
    margin-left: 10px;
    padding: 10px;
  }
  nav {
    flex-basis: 70%;
  }
}
.flexMenu {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  justify-content: space-evenly;
  list-style-type: none;
  font-weight: bold;
  list-style-type: none;

  li {
    margin: 2px;
    width: 150px;
    padding: 5px;
    text-align: center;
    & :hover {
      background-color: rgb(71, 181, 255);
      color: white;
      text-align: center;
      padding: 5px;
    }
  }
}

.flexTitulo {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  h1 {
    padding: 5px;
    margin: 10px;
    font-size: 7vh;
  }
}
.flexSecciones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  div {
    margin: 10px;
    text-align: center;
    font-size: 40px;
    border: double 1px white;
    width: 60vh;
  }
}
.flexIntroduccion {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: center;
  img{
    padding: 15px;
    margin: 15px;
  }
}
#textoCorto {
  text-align: justify;
  font-size: 150%;
  padding: 10px;
  margin: 10px;
  width: 50%;
  line-height: 40px;
}
