/*Tablet*/
@media (min-width: 600px) {
  /*Menu*/
  .mobileAltura {
    height: 2000px;
  }
  .flexMenu {
    flex-flow: row;
  }
  .flexSecciones {
    flex-flow: row wrap;
    div {
      width: 50vh;
      margin-left: 20px;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 60%;
    }
    p {
      font-size: 20px;
    }
  }
  .flexIntroduccion {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
}
