/*MediaQueries*/

/*Smartphone*/
@media (max-width: 480px) {
  /*Menu*/
  .mobileAltura {
    height: 2600px;
  }
  .flexMenu {
    flex-direction: column;
  }
  .flexSecciones {
    flex-direction: column;
    div {
      width: 90%;
      margin-left: 20px;
      margin-right: 2px;
      padding-right: 2px;
    }
    img {
      width: 60%;
    }
    p {
      font-size: 16px;
      text-align: center;
      
    }
  }
  .flexIntroduccion {
    display: flex;
    flex-direction: column;
    
    img{
      width: 90%;
      height: 50vh;
      margin: 10, 12, 10, 10;
    }
  }
  #textoCorto{
    text-align: center;
    font-size: 120%;
    width: 90%;
  }
  #alturaFooter {
    height: 30%;
  }
  /*SobreMi*/
  .holaHola {
    flex-direction: column;
    .holaTexto {
      text-align: center;
      width: 80%;
      padding-left: 20px;
    }
  }
  #alturaJusta {
    height: 350vh;
  }
  /*Nutricion*/
  #alturaNutri {
    height: 100%;
  }
  body {
    height: 1500px;
  }
  .grillaDoble {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    p {
      width: 50vh;
      text-align: justify;
      font-size: 20px;
      line-height: 200%;
    }
  }
  iframe {
    width: 350px;
  }

  .holaQueTal {
    img {
      width: 300px;
      margin: 2px;
      padding: 2px;
    }
  }
  .dudasNuevas {
    padding: 5px;
    margin: 5px;
  }
  footer {
    height: 100%;
  }
  /*Turnos*/
  form{
    text-align: center;
  }
  .comentarios{
    text-align: center;
    textarea{
      margin-left: 100px;
    }
  }
  input[type="reset"] {
    width: 20vh;
  }
  /*Contactos*/
  .gridContacto {
    display: flex;
    flex-direction: column;
    p {
      padding-bottom: 15px;
    }
  }
  /*Footer*/
  #alturaFooter{
    height: 20%;
  }
  #footer-mobile {
    height: 20%;
  }
  #footer-turno{
    height: 30%;
  }
  
  footer {
    div p {
      transition: none;
      &:hover {
        color: black;
        background-color: white;
        width: 65%;
      }
    }
  }
}
