/*Tablets*/
@media (min-width: 768px), (max-width:1024px) {
  /*Menu*/
  .mobileAltura {
    height: 2600px;
  }
  .flexMenu {
    flex-flow: row;
    justify-content: space-between;
    li{
      width: auto;
    }
  }
  .flexSecciones {
    flex-flow: row wrap;
    div {
      width: 50vh;
      margin-left: 20px;
      margin-top: 15px;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 60%;
    }
    p {
      font-size: 20px;
    }
  }
  .flexIntroduccion {
    display: flex;
    flex-direction: column;
    #textoCorto{
      text-align: justify;
      width: 70%;
    }
  }
}
#alturaFooter{
  height: 20%;
}

/*SobreMi*/
#alturaJusta{
  height: 2500px;
}
.holaHola{
  flex-flow: column;
  img{
    width: 70%;
    margin-left: 70px;
  }
}
.holaTexto{
  font-size: 130%;
  text-align: center;
  width: 90%;
  margin-left: 20px;
}
.textoDos{
  font-size: 130%;
  
}
.ideaNueva{
  font-size: 140%;
  li{
    line-height: 4rem;
  }
}
/*Nutricion*/
#alturaNutri{
  height: 2700px;
}
.grillaDoble{
  display: flex;
  flex-flow: column;
  p{
    line-height: 4rem;
    margin-bottom: 15px;
  }
}