/*MediaQueries*/

/*Smartphone*/
@media (max-width: 480px) {
  /*Menu*/
  .flexMenu {
    flex-direction: column;
  }
  .flexSecciones {
    flex-direction: column;
    img {
      width: 100%;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
  }
  .flexIntroduccion {
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  /*SobreMi*/
  .holaHola {
    flex-direction: column;
    .holaTexto {
      text-align: center;
      width: 80%;
      padding-left: 20px;
    }
  }
  #alturaJusta {
    height: 3000px;
  }
  /*Nutricion*/
  #alturaNutri {
    height: 100%;
  }
  body {
    height: 1500px;
  }
  .grillaDoble {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    p {
      width: 50vh;
      text-align: justify;
      font-size: 20px;
      line-height: 200%;
    }
  }
  iframe {
    width: 350px;
  }

  .holaQueTal {
    img {
      width: 300px;
      margin: 2px;
      padding: 2px;
    }
  }
  .dudasNuevas {
    padding: 5px;
    margin: 5px;
  }
  footer {
    height: 100%;
  }
  /*Turnos*/
  input[type="reset"] {
    width: 20vh;
  }
  /*Contactos*/
  .gridContacto {
    display: flex;
    flex-direction: column;
    p {
      padding-bottom: 15px;
    }
  }
  #footer-mobile {
    height: 100vh;
  }
}
