/*Estilos sobreMi*/

.flexSobreYo{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    p{
        padding: 1px;
        text-align: justify;
    }
}
.grillita{
    display: grid;
    grid-template-areas: 
    "inicio inicio inicio inicio"
    "titulo titulo titulo titulo"
    " info info foto foto"
    "info info forma forma"
    "fin fin fin fin"
    ;
    grid-template-rows:  auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    text-align: center;
}
header {
    grid-area: inicio;
    
}
main{ 
    grid-area: titulo; 
    padding:20px;}
div.flexSobreyo{
    grid-area: info;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify; 
    line-height: 50px;
}
div#foto{
    grid-area: foto;
}
aside{
    grid-area: aside;
}
section div.border{
    grid-area: formas;
    border: dotted 1px wheat;
    padding: 10px;
    h3{
        font-size: 150%;
    }
    li{
        list-style: none;
        line-height: 40px;
    }
}
div footer{
    grid-area: fin;
}