/*Estilos sobreMi*/

.main-sobremi {
  margin-bottom: 30px;
}
.holaHola {
  display: flex;
  flex-flow: row wrap;
}
.holaTexto {
  width: 50%;
  margin: 10px;
  line-height: 3.3rem;
  text-align: justify;
}
.textoDos {
  p {
    padding: 15px;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 2.5rem;
  }
}

.ideaNueva {
  padding: 10px;
  margin: 20px;
  text-align: center;
  li {
    list-style: none;
    line-height: 2.5rem;
  }
}
